<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.min.css">
        <style>  
        #RedMenu {  
            background-color: #B00;  
            border-color: #B00;  
        }  
 
            #RedMenu ul li a {  
                color: #ffffff;  
            }  
 
            #RedMenu ul li:hover {  
                background-color: #000;  
            }  
    </style>  
</head>
<body>
    <!--Default Navbar Start Here-->  
    <!--<nav> tag  start with classes .navbar and .navbar-default and .navbar-fixed-top-->  
    <nav class="navbar navbar-default navbar-fixed-top" id="RedMenu">  
        <div class="container-fluid">  
            <!--Navbar Header Start Here-->  
            <div class="navbar-header">  
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MainNavBar"   
                   style="background-color:#000">  
                    <span class="icon-bar" style="background-color:#ffffff"></span>  
                    <span class="icon-bar" style="background-color:#ffffff"></span>  
                    <span class="icon-bar" style="background-color:#ffffff"></span>  
                </button>  
            </div>  
            <!--Navbar Header End Here-->  
            <!--Menu Start Here-->  
            <div class="collapse navbar-collapse" id="MainNavBar">  
                <ul class="nav navbar-nav navbar-right">  
                    <a href="Home/Index/1">Home</a>
                    <a href="Contact/Add/2">Add</a>
                    <a href="Delete/3">Delete</a>
                    <a href="4">That</a>
                </ul>  
            </div>  
            <!--Menu End Here-->  
        </div>  
    </nav>  
    <!--<nav> tag end-->  
    <!--Default Navbar End Here-->  
    <script src="js/jquery-2.1.4.min.js"></script>  
    <script src="js/bootstrap.min.js"></script>    
    <div class="container">
        <header class="jumbotron">
            <h1>My Contacts</h1>
        </header> @RenderBody()
    </div>

</body>
</html>
