@{
    ViewData["Title"] = "Assignment 6.1";
}

<p>HELLO ADMIN</p>
<ul>
<li>
    Taylor Layton - Grade: A
</li>
<li>
    John Cena - Grade: F
</li>
<li>
    Billy Bob - Grade D
</li>
<li>
    Hugh Jazz - Grade A
</li>
</ul>